## Xcode
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xcworkspace/
xcuserdata/
DerivedData/
build/
*.moved-aside
*.pbxuser
*.perspectivev3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.build/
.swiftpm/

## macOS
.DS_Store

## XcodeGen
*.xcodeproj
